<beans:beans
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="loggerListener"
                class="org.springframework.security.authentication.event.LoggerListener"/>

    <!-- Configurazione Security per servizi REST -->
    <http auto-config="true" pattern="/rest/**" use-expressions="true"
          authentication-manager-ref="restAuthenticationManager">
        <intercept-url pattern="/rest/**"
                       access="hasRole('ROLE_REST')"/>
        <intercept-url pattern="/rest/webjars/**"
                       access="permittAll"/>
        <intercept-url pattern="/rest/v2/**"
                       access="permittAll"/>
        <csrf disabled="true"/>
        <http-basic/>
    </http>

    <authentication-manager
            alias="restAuthenticationManager">
        <authentication-provider>
            <user-service>
                <user name="osamaRDApi" password="{noop}0$4m!D5e@x+" authorities="ROLE_REST"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>


</beans:beans>
